
*{
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: #1c1e21;
    color: white;
    font-family: 'Akaya Telivigala', cursive;
}
.header{
    font-family: 'Akaya Telivigala', cursive;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(45deg, #2C5364, #203A43 15%, #0F2027 45%); 
    background-size: cover;
    height: 100vh;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 40px;
    margin-right: 50px;
}
.glassmorphism{
    --size:400px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    animation: action 4s infinite ease-out;
    position: relative;
}
@keyframes action{
    0%,100%{top:0px;}
    50%{top:10px}
}
.icon-main{
    position: relative;
    top:0;
    animation: animater 2s ease-in;
}
@keyframes animater{
    0%{
        top:400px;
    }
    100%{
        top: 0;
    }
}
.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.circle{
    position: absolute;
    background: #456BD9;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 10em;
    width: 10em;
}
.circle-1{
    top: 50px;
    right: 200px;
    background: linear-gradient(to right, #FFF6B7, #f6416c);
}
.circle-2{
    top: 100px;
    right: 500px;
    background: linear-gradient(to right, #fdd819, #e80505);
}
.circle-3{
    top: 400px;
    right: 400px;
    background: linear-gradient(to right, #43cbff, #9708cc); 
}
.layout{
    font-size: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.layout .line{
    margin: 50px 100px;
    background-color: yellow;
    width: auto;
    height: 4px;
    border-radius: 100%;
}
.introduce-group{
    font-size: 30px;

}
.personal{
    display: flex;
    margin: 0 100px;
    position: relative;
    font-size: 30px;
    text-indent: 30px;
}
.personal-icon{
    font-size: 400px;
    color: #fdd819;
}
.personal ul{
    margin: 0px 100px;
}
.education{
    display: flex;
    margin: 0 100px;
    position: relative;
    padding: 0 0;
}
.education p{
    font-size: 30px;
    text-indent: 30px;
}
.education .education-content h1{
    font-size: 4rem;
}
.education img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
}
.Interests{
    display: flex;
    margin: 0 100px;
    padding: 0 0;
}
.Interests p{
    font-size: 30px;
    
}
.Intersts-content{
    margin: 0 100px;
}
.Intersts-content h1{
    font-size: 4rem;
}
.Intersts-icon{
    color: red;
    font-size: 400px;
}
/* footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(to bottom,#1c1e21 50%,rgba(37, 52, 75, 0.89)), url(./img/AdobeStock_218730281-1-1118x538.jpg);
    border-top: 1px solid rgba(255, 255, 255, 0.178) ;
}
.Socialicons{
    display: flex;
}
.Socialicons .icon{
    width: 80px;
    height: 80px;
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.05);
    margin: 0 30px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}
.icon:after{
    content: "";
    background: linear-gradient(to bottom, #fdd819, #e80505);
    width: 80px;
    height: 80px;
    z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0px;
    transition: 0.2s;
}
.Socialicons .icon:hover{
    color: #FFF;
    z-index: 0;
}
a:hover::after{
    bottom: 0;
}
footer p{
    font-size: 30px;
}
.telephone{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: 50px;
    font-size: 30px;
}
.telephone p{
    margin: 0px 10px;
}
/* --scrollbar-- */

::-webkit-scrollbar{
    width: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
	background-color: rgb(56, 49, 49);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
	background-image: linear-gradient(to top, #021f9e,#fe0096 )
}
